<section class="page blog-shell" [ngStyle]="themeStyles">
    <p class="error" *ngIf="!loading && error">{{ error }}</p>
    <div class="blog" *ngIf="loading" [attr.aria-label]="'blogHome.loading.aria' | translate">
        <header class="blog-head">
            <app-skeleton width="40%" height="30px"></app-skeleton>
            <app-skeleton width="92%" height="14px"></app-skeleton>
            <app-skeleton width="82%" height="14px"></app-skeleton>
            <div class="head-links">
                <app-skeleton width="150px" height="13px"></app-skeleton>
                <app-skeleton width="110px" height="13px"></app-skeleton>
            </div>
        </header>

        <section class="post-list stack">
            <article class="post-card" *ngFor="let _ of [1, 2, 3]">
                <app-skeleton width="100%" height="180px" radius="10px"></app-skeleton>
                <app-skeleton width="70%" height="22px"></app-skeleton>
                <app-skeleton width="96%" height="13px"></app-skeleton>
                <app-skeleton width="84%" height="13px"></app-skeleton>
                <app-skeleton width="42%" height="12px"></app-skeleton>
            </article>
        </section>
    </div>

    <div class="blog" *ngIf="!loading && !error && blog as currentBlog">
        <header class="blog-head blog-header" [class.center]="headerLayoutClass === 'center'">
            <h1>{{ translatedBlogTitle ?? currentBlog.title }}</h1>
            <p class="subtitle" *ngIf="translatedBlogDescription ?? currentBlog.description">
                <ng-container *ngFor="let line of splitHashtagText(translatedBlogDescription ?? currentBlog.description); let isLast = last">
                    <ng-container *ngFor="let part of line">
                        <a *ngIf="part.hashtag; else blogDescriptionText" class="hashtag" [routerLink]="['/discover']" [queryParams]="{ q: part.hashtag, type: 'all' }">{{ part.text }}</a>
                        <ng-template #blogDescriptionText>{{ part.text }}</ng-template>
                    </ng-container>
                    <br *ngIf="!isLast" />
                </ng-container>
            </p>
            <app-translate-content [text]="(currentBlog.title || '') + '\n\n' + (currentBlog.description || '')" [inlineMode]="true" (translationChanged)="onBlogTranslationChanged($event)"></app-translate-content>
            <div class="head-links">
                <a [routerLink]="['/blogs', currentBlog.ownerHandle]">{{ 'blogHome.header.moreBy' | translate:{ handle: currentBlog.ownerHandle } }}</a>
                <a [routerLink]="['/blogs', 'studio']" *ngIf="currentBlog.isOwner">{{ 'blogHome.header.editInStudio' | translate }}</a>
            </div>
        </header>

        <section class="post-list" [class.grid]="postLayoutClass === 'grid'" [class.stack]="postLayoutClass !== 'grid'">
            <article class="post-card" *ngFor="let post of posts; trackBy: trackPost" role="link" tabindex="0" (click)="openPostAsync(post, $event)" (keydown.enter)="openPostAsync(post, $event)" (keydown.space)="$event.preventDefault(); openPostAsync(post, $event)">
                <app-lazy-image *ngIf="post.coverImageUrl" class="post-card-cover" [src]="post.coverImageUrl" [alt]="post.title" imgClass="post-cover" skeletonHeight="220px" skeletonRadius="10px"></app-lazy-image>
                <h2>
                    <a [routerLink]="['/blogs', currentBlog.ownerHandle, currentBlog.slug, post.slug]">{{ getActivePostTitle(post) }}</a>
                </h2>
                <p *ngIf="getActivePostExcerpt(post) as excerpt">
                    <ng-container *ngFor="let line of splitHashtagText(excerpt); let isLast = last">
                        <ng-container *ngFor="let part of line">
                            <a *ngIf="part.hashtag; else postExcerptText" class="hashtag" [routerLink]="['/discover']" [queryParams]="{ q: part.hashtag, type: 'all' }">{{ part.text }}</a>
                            <ng-template #postExcerptText>{{ part.text }}</ng-template>
                        </ng-container>
                        <br *ngIf="!isLast" />
                    </ng-container>
                </p>
                <app-translate-content [text]="(post.title || '') + '\n\n' + (post.excerpt || '')" [inlineMode]="true" (translationChanged)="onPostTranslationChanged(post.id, $event)"></app-translate-content>
                <div class="meta">
                    <span>{{ (post.publishedAtUtc ?? post.updatedAtUtc) | date:'mediumDate' }}</span>
                    <span *ngIf="!post.isPublished" class="draft">{{ 'blogHome.post.draft' | translate }}</span>
                    <button type="button" class="save-post" *ngIf="canToggleSave" [disabled]="savingPostId === post.id" (click)="toggleSavedPostAsync(post, $event)">{{ post.isSavedByMe ? ('blogHome.actions.unsave' | translate) : ('blogHome.actions.save' | translate) }}</button>
                </div>
                <div class="tags" *ngIf="post.tags.length">
                    <a *ngFor="let tag of post.tags" class="hashtag" [routerLink]="['/discover']" [queryParams]="{ q: tag, type: 'all' }">#{{ tag }}</a>
                </div>
            </article>
        </section>

        <p class="muted" *ngIf="!posts.length">{{ 'blogHome.empty.noPosts' | translate }}</p>
    </div>
</section>