<div class="hero-create-menu" (click)="$event.stopPropagation()">
    <button type="button" class="hero-icon-button" (click)="onToggle($event)" aria-label="Create content">
        <i class="fa-duotone fa-light fa-plus" aria-hidden="true"></i>
    </button>

    <div class="hero-create-dropdown" *ngIf="open">
        <button type="button" (click)="onCreatePost()">New Post</button>
        <button type="button" (click)="onCreateReel()">New Reel</button>
        <button type="button" (click)="onCreateStory()">New Story</button>
    </div>
</div>