<article class="post" [class.has-icon-actions]="!isEditing && hasPostOverflowActions()">
    <div class="post-icon-actions" *ngIf="!isEditing && hasPostOverflowActions()">
        <div class="post-overflow">
            <button class="icon-btn" type="button" (click)="togglePostOverflowMenu($event)" [attr.aria-expanded]="postOverflowMenuOpen" [attr.aria-label]="'app.shell.mobileNav.more' | translate" [attr.title]="'app.shell.mobileNav.more' | translate">
                <i class="fa-duotone fa-light fa-ellipsis" aria-hidden="true"></i>
            </button>

            <div class="post-overflow-menu" *ngIf="postOverflowMenuOpen" (click)="$event.stopPropagation()">
                <button type="button" class="post-overflow-menu-item" *ngIf="canManageOwnPost()" (click)="triggerStartEditFromMenu($event)">{{ 'sharedCommunityPost.actions.editPost' | translate }}</button>
                <button type="button" class="post-overflow-menu-item danger" *ngIf="canManageOwnPost()" (click)="triggerDeletePostFromMenu($event)" [disabled]="deleting">{{ 'sharedCommunityPost.actions.deletePost' | translate }}</button>
                <button type="button" class="post-overflow-menu-item" *ngIf="canMarkPostNotInterested()" (click)="triggerNotInterestedFromMenu($event)" [disabled]="busy || !canInteract">{{ 'homeFeed.tuning.notInterested' | translate }}</button>
                <button type="button" class="post-overflow-menu-item" *ngIf="canReportPost()" (click)="triggerReportPostFromMenu($event)" [disabled]="busy || !canInteract">{{ 'profile.safety.report' | translate }}</button>
            </div>
        </div>
    </div>

    <ng-content select="[post-header]"></ng-content>

    <ng-container *ngIf="isEditing">
        <app-comment-editor [placeholder]="'Edit your post'" [collapsed]="false" [showActions]="false" [showModeToggle]="true" [editorHeightPx]="250" [initialContent]="editValue" [initialContentIsHtml]="true" (contentChanged)="onPostEditRichContentChanged($event)">
        </app-comment-editor>
    </ng-container>

    <ng-container *ngIf="!isEditing">
        <div class="content content--html" *ngIf="content && displayAsHtml" [innerHTML]="fullContentText"></div>
        <div class="content" *ngIf="content && !displayAsHtml">
            <ng-container *ngFor="let line of contentLines; let isLastLine = last">
                <ng-container *ngFor="let part of line">
                    <a *ngIf="part.hashtag; else maybeMention" class="hashtag" [href]="'/hashtags/' + part.hashtag" (click)="navigateToHashtag(part.hashtag, $event)">{{ part.text }}</a>
                    <ng-template #maybeMention>
                        <a *ngIf="part.mentionHandle; else plainText" class="mention" [href]="'/users/' + part.mentionHandle" (click)="navigateToMention(part.mentionHandle, $event)">{{ part.text }}</a>
                    </ng-template>
                    <ng-template #plainText>{{ part.text }}</ng-template>
                </ng-container>
                <br *ngIf="!isLastLine" />
            </ng-container>
        </div>
        <button class="content-see-more" type="button" *ngIf="isContentTruncated" (click)="toggleContentExpansion()">{{ contentExpanded ? 'See less' : 'See more' }}</button>

        <article class="shared-post-preview" *ngIf="sharedPost as shared" [attr.role]="'button'" tabindex="0" (click)="openSharedPost(shared, $event)" (keydown.enter)="openSharedPost(shared, $event)" (keydown.space)="openSharedPost(shared, $event)">
            <header class="shared-post-head">
                <span>Shared post from</span>
                <strong>@{{ shared.authorHandle }}</strong>
            </header>
            <div class="shared-post-content" *ngIf="shared.content">
                <ng-container *ngFor="let line of sharedPostContentLines(shared.content); let isLastLine = last">
                    <ng-container *ngFor="let part of line">
                        <a *ngIf="part.hashtag; else maybeSharedMention" class="hashtag" [href]="'/hashtags/' + part.hashtag" (click)="navigateToHashtag(part.hashtag, $event)">{{ part.text }}</a>
                        <ng-template #maybeSharedMention>
                            <a *ngIf="part.mentionHandle; else plainSharedText" class="mention" [href]="'/users/' + part.mentionHandle" (click)="navigateToMention(part.mentionHandle, $event)">{{ part.text }}</a>
                        </ng-template>
                        <ng-template #plainSharedText>{{ part.text }}</ng-template>
                    </ng-container>
                    <br *ngIf="!isLastLine" />
                </ng-container>
            </div>
            <app-lazy-image *ngIf="shared.imageUrl" imgClass="shared-post-image" [src]="shared.imageUrl" alt="Shared post media" skeletonHeight="210px" skeletonRadius="10px"></app-lazy-image>
        </article>
        <app-translate-content [text]="content" [inlineMode]="true" (translationChanged)="onTranslationChanged($event)"></app-translate-content>

        <ng-container *ngIf="postMediaUrls() as mediaUrls">
            <ng-container *ngIf="shouldHideSensitiveMedia(); else visiblePostMediaBlock">
                <div class="sensitive-media-banner">
                    <p>This media is marked as sensitive.</p>
                    <button type="button" class="ghost" (click)="revealSensitiveMedia()">Show media</button>
                </div>
            </ng-container>

            <ng-template #visiblePostMediaBlock>
                <ng-container *ngIf="mediaUrls.length > 0 && hasOnlyImageMedia(mediaUrls); else nonImageMediaBlock">
                    <ng-container *ngIf="activePostImageUrl(mediaUrls) as activeImageUrl">
                        <div class="post-image-carousel" *ngIf="mediaUrls.length > 1">
                            <button type="button" class="post-image-nav" (click)="showPreviousPostImage(mediaUrls, $event)" [disabled]="!canMovePostImageBack(mediaUrls)" aria-label="Previous image" title="Previous image">
                                <i class="fa-duotone fa-light fa-chevron-left" aria-hidden="true"></i>
                            </button>

                            <div class="post-image-frame">
                                <div class="post-image-stack">
                                    <img class="post-image post-image-layer post-image-current" [src]="activeImageUrl" alt="Post image" loading="lazy" decoding="async" (click)="openImageFullscreen(mediaUrls, activeImageUrl, $event)" />
                                </div>
                            </div>

                            <button type="button" class="post-image-nav" (click)="showNextPostImage(mediaUrls, $event)" [disabled]="!canMovePostImageForward(mediaUrls)" aria-label="Next image" title="Next image">
                                <i class="fa-duotone fa-light fa-chevron-right" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="post-image-frame" *ngIf="mediaUrls.length <= 1">
                            <div class="post-image-stack">
                                <img class="post-image post-image-layer post-image-current" [src]="activeImageUrl" alt="Post image" loading="lazy" decoding="async" (click)="openImageFullscreen(mediaUrls, activeImageUrl, $event)" />
                            </div>
                        </div>

                        <div class="post-image-thumbs" *ngIf="mediaUrls.length > 1">
                            <button type="button" class="post-image-thumb" *ngFor="let previewUrl of mediaUrls; index as i" [class.active]="i === getPostActiveImageIndex(mediaUrls)" (click)="setActivePostImage(mediaUrls, i, $event)">
                                <img [src]="previewUrl" [alt]="'Image ' + (i + 1)" loading="lazy" decoding="async" />
                            </button>
                        </div>
                    </ng-container>
                </ng-container>

                <ng-template #nonImageMediaBlock>
                    <ng-container *ngIf="mediaUrls.length === 1 && mediaUrls[0] as mediaUrl">
                        <video class="post-media" *ngIf="isVideoMedia(mediaUrl); else fallbackSingleImage" [src]="mediaUrl" controls playsinline preload="metadata"></video>
                        <ng-template #fallbackSingleImage>
                            <app-lazy-image imgClass="post-image" [src]="mediaUrl" alt="Post media" skeletonHeight="280px" skeletonRadius="10px"></app-lazy-image>
                        </ng-template>
                    </ng-container>

                    <div class="post-media-grid" *ngIf="mediaUrls.length > 1" [ngClass]="postMediaGridClass(mediaUrls)">
                        <ng-container *ngFor="let mediaUrl of visiblePostMediaUrls(mediaUrls); let index = index">
                            <div class="post-media-grid-item-wrap" [class.show-more]="index === 3 && hiddenPostMediaCount(mediaUrls) > 0">
                                <video class="post-media-grid-item" *ngIf="isVideoMedia(mediaUrl); else gridImageMedia" [src]="mediaUrl" controls playsinline preload="metadata"></video>
                                <ng-template #gridImageMedia>
                                    <app-lazy-image imgClass="post-media-grid-item" [src]="mediaUrl" alt="Post media" skeletonHeight="180px" skeletonRadius="10px"></app-lazy-image>
                                </ng-template>
                                <div class="post-media-overflow" *ngIf="index === 3 && hiddenPostMediaCount(mediaUrls) > 0">+{{ hiddenPostMediaCount(mediaUrls) }}</div>
                            </div>
                        </ng-container>
                    </div>
                </ng-template>
            </ng-template>
        </ng-container>

        <div class="engagement-summary">
            <div class="summary-reactions clickable" role="button" tabindex="0" aria-label="Show reactions" (mousedown)="onReactionSummaryMouseDown($event)" (click)="onReactionSummaryClick($event)" (keydown)="onReactionSummaryKeydown($event)">
                <span class="summary-reaction-icons" *ngIf="topReactionBadges.length; else noReactionEmoji">
                    <span class="summary-reaction-emoji" *ngFor="let badge of topReactionBadges" [ngClass]="reactionBadgeClass(badge.type)">
                        <i [class]="reactionIconClass(badge.type)" aria-hidden="true"></i>
                    </span>
                </span>
                <ng-template #noReactionEmoji>
                    <span class="summary-reaction-icons empty">
                        <span class="summary-reaction-emoji type-default">
                            <i class="fa-duotone fa-solid fa-thumbs-up" aria-hidden="true"></i>
                        </span>
                    </span>
                </ng-template>
                <span class="summary-reaction-count">{{ totalReactionCount | number }}</span>
            </div>

            <div class="summary-counts">
                <span>{{ post.comments.length | number }} {{ 'sharedCommunityPost.actions.comments' | translate }}</span>
                <span>·</span>
                <span>{{ repostCount | number }} {{ 'homeFeed.postActions.reposts' | translate }}</span>
            </div>
        </div>

        <div class="reactions-modal-backdrop" *ngIf="reactionsModalOpen || reactionsModalClosing" [class.closing]="reactionsModalClosing" (click)="closeReactionsModal()">
            <section class="reactions-modal" [class.closing]="reactionsModalClosing" role="dialog" aria-modal="true" [attr.aria-label]="'chatPage.reactions.title' | translate" (click)="$event.stopPropagation()">
                <header class="reactions-modal-header">
                    <h3>{{ 'chatPage.reactions.title' | translate }}</h3>
                    <button type="button" class="reactions-modal-close" (click)="closeReactionsModal()" [attr.aria-label]="'chatPage.reactions.close' | translate">
                        <i class="fa-duotone fa-light fa-xmark" aria-hidden="true"></i>
                    </button>
                </header>

                <div class="reactions-modal-tabs">
                    <button type="button" class="reaction-tab" *ngFor="let filter of reactionModalFilters" [class.active]="selectedReactionFilter === filter.key" (mousedown)="onReactionTabMouseDown(filter.key, $event)" (click)="onReactionTabClick(filter.key, $event)">
                        <ng-container *ngIf="filter.key === 'all'; else reactionFilterIcon">
                            <span class="reaction-tab-label">{{ 'chatPage.reactions.all' | translate }}</span>
                        </ng-container>
                        <ng-template #reactionFilterIcon>
                            <span class="summary-reaction-emoji" [ngClass]="reactionBadgeClass(filter.type)">
                                <i [class]="reactionIconClass(filter.type)" aria-hidden="true"></i>
                            </span>
                        </ng-template>
                        <span class="reaction-tab-count">{{ filter.count | number }}</span>
                    </button>
                </div>

                <div class="reactions-modal-list" #reactionsModalList [class.animating-height]="reactionsModalAnimatingHeight" [style.height.px]="reactionsModalListHeight" *ngIf="visibleReactionDetails.length; else reactionsModalEmpty">
                    <article class="reaction-person" *ngFor="let item of visibleReactionDetails">
                        <img class="reaction-person-avatar" *ngIf="item.imageUrl; else reactionPersonInitial" [src]="item.imageUrl" loading="lazy" decoding="async" onerror="this.onerror=null;this.src='/assets/images/avatar-fallback.svg';" alt="Reaction author image" />
                        <ng-template #reactionPersonInitial>
                            <div class="reaction-person-avatar fallback">{{ (item.displayName || item.handle || '?').charAt(0).toUpperCase() }}</div>
                        </ng-template>

                        <div class="reaction-person-main">
                            <p class="reaction-person-name">{{ item.displayName }}</p>
                            <p class="reaction-person-subtitle" *ngIf="item.subtitle">{{ item.subtitle }}</p>
                            <p class="reaction-person-subtitle" *ngIf="!item.subtitle && item.handle">@{{ item.handle }}</p>
                        </div>

                        <span class="summary-reaction-emoji reaction-person-reaction" [ngClass]="reactionBadgeClass(item.reactionType)">
                            <i [class]="reactionIconClass(item.reactionType)" aria-hidden="true"></i>
                        </span>
                    </article>
                </div>

                <ng-template #reactionsModalEmpty>
                    <div class="reactions-modal-empty">{{ reactionDetailsEmptyMessage }}</div>
                </ng-template>
            </section>
        </div>

        <div class="engagement">
            <app-reaction-picker [reactionOptions]="reactionOptions" [reactions]="[]" [myReactionType]="post.myReactionType" [busy]="reacting || !canInteract" [triggerStyle]="'bubble-icon'" (primaryClick)="onPostPrimaryReaction()" (reactionSelected)="onPostReactionSelected($event)">
            </app-reaction-picker>

            <button class="comments-toggle" type="button" (click)="toggleComments()" [attr.aria-expanded]="commentsOpen">
                <i class="fa-duotone fa-light fa-comments" aria-hidden="true"></i>
                <span class="action-label">{{ 'sharedCommunityPost.actions.comments' | translate }}</span>
                <span class="action-count">{{ post.comments.length }}</span>
            </button>

            <button class="comments-toggle" type="button" (click)="triggerShareToFeed()" [disabled]="busy || !canInteract" [attr.aria-label]="'homeFeed.postActions.repost' | translate" [attr.title]="'homeFeed.postActions.repost' | translate">
                <i class="fa-duotone fa-light fa-repeat" aria-hidden="true"></i>
                <span class="action-label">{{ 'homeFeed.postActions.repost' | translate }}</span>
            </button>

            <button class="comments-toggle" type="button" (click)="triggerShareToChat()" [disabled]="busy || !canInteract" [attr.aria-label]="'chatPage.composer.send' | translate" [attr.title]="'chatPage.composer.send' | translate">
                <i class="fa-duotone fa-light fa-paper-plane" aria-hidden="true"></i>
                <span class="action-label">{{ 'chatPage.composer.send' | translate }}</span>
            </button>

            <button class="comments-toggle" type="button" (click)="triggerCopyLink()" [disabled]="busy" [attr.aria-label]="'sharedCommunityPost.actions.copyPostLinkAria' | translate" [attr.title]="'sharedCommunityPost.actions.copyLink' | translate">
                <i class="fa-duotone" [class.fa-light]="!copyLinkCopied" [class.fa-solid]="copyLinkCopied" [class.fa-link]="!copyLinkCopied" [class.fa-check]="copyLinkCopied" aria-hidden="true"></i>
                <span class="action-label">{{ (copyLinkCopied ? 'sharedCommunityPost.actions.copied' : 'sharedCommunityPost.actions.copyLink') | translate }}</span>
            </button>

            <button class="comments-toggle" type="button" (click)="saveToggled.emit()" [disabled]="busy || !canInteract" [attr.aria-label]="(savedByMe ? 'sharedCommunityPost.actions.unsavePost' : 'sharedCommunityPost.actions.savePost') | translate"
                [attr.title]="(savedByMe ? 'sharedCommunityPost.actions.unsavePost' : 'sharedCommunityPost.actions.savePost') | translate">
                <i class="fa-duotone" [class.fa-solid]="savedByMe" [class.fa-light]="!savedByMe" [class.fa-bookmark]="true" aria-hidden="true"></i>
                <span class="action-label">{{ (savedByMe ? 'sharedCommunityPost.actions.saved' : 'sharedCommunityPost.actions.save') | translate }}</span>
            </button>

        </div>

        <app-comments-sheet [open]="commentsOpen" (close)="toggleComments()">
            <section class="comments">
                <p class="comments-empty" *ngIf="!orderedComments.length">Be the first to comment.</p>
                <div class="comment" *ngFor="let item of orderedComments" [class.reply-comment]="item.depth > 0">
                    <ng-container *ngIf="item.comment as comment">
                        <img class="comment-avatar" *ngIf="comment.authorImageUrl; else commentInitial" [src]="comment.authorImageUrl" loading="lazy" decoding="async" onerror="this.onerror=null;this.src='/assets/images/avatar-fallback.svg';" alt="Comment author image" />
                        <ng-template #commentInitial>
                            <div class="comment-avatar">{{ comment.authorHandle[0] }}</div>
                        </ng-template>

                        <div class="comment-main">
                            <div class="comment-content" *ngIf="editingCommentId !== comment.id">
                                <a class="comment-handle mention" [href]="'/users/' + comment.authorHandle" (click)="navigateToMention(comment.authorHandle, $event)">@{{ comment.authorHandle }}</a>
                                <ng-container *ngFor="let line of commentContentLines(comment.content); let isLastLine = last">
                                    <ng-container *ngFor="let part of line">
                                        <a *ngIf="part.hashtag; else maybeCommentMention" class="hashtag" [href]="'/hashtags/' + part.hashtag" (click)="navigateToHashtag(part.hashtag, $event)">{{ part.text }}</a>
                                        <ng-template #maybeCommentMention>
                                            <a *ngIf="part.mentionHandle; else plainCommentText" class="mention" [href]="'/users/' + part.mentionHandle" (click)="navigateToMention(part.mentionHandle, $event)">{{ part.text }}</a>
                                        </ng-template>
                                        <ng-template #plainCommentText>{{ part.text }}</ng-template>
                                    </ng-container>
                                    <br *ngIf="!isLastLine" />
                                </ng-container>
                            </div>

                            <div class="comment-meta-row">
                                <span class="comment-meta">{{ comment.createdAtUtc | date:'short' }}</span>
                            </div>
                            <button type="button" class="comment-thread-toggle" *ngIf="item.depth === 0 && getCommentReplyCount(comment.id) > 0" (mousedown)="onCommentThreadToggleMouseDown(comment.id, $event)" (click)="onCommentThreadToggleClick(comment.id, $event)">
                                {{ isCommentReplyThreadExpanded(comment.id) ? 'Hide replies' : 'View replies (' + getCommentReplyCount(comment.id) + ')' }}
                            </button>

                        </div>

                        <div class="comment-actions" *ngIf="editingCommentId !== comment.id">
                            <button type="button" class="comment-like-button" *ngIf="editingCommentId !== comment.id && canInteract" [class.active]="!!comment.myReactionType" (mousedown)="onCommentLikeMouseDown(comment, $event)" (click)="onCommentLikeClick(comment, $event)"
                                [attr.aria-label]="comment.myReactionType ? 'Unlike comment' : 'Like comment'">
                                <i class="fa-duotone fa-heart" [class.fa-solid]="!!comment.myReactionType" [class.fa-light]="!comment.myReactionType" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="comment-reply-button" *ngIf="editingCommentId !== comment.id && canInteract" (mousedown)="onCommentReplyMouseDown(comment, $event)" (click)="onCommentReplyClick(comment, $event)">Reply</button>
                            <button class="icon-btn" type="button" *ngIf="canReportComment(comment)" (mousedown)="requestReportComment(comment, $event)" (click)="requestReportComment(comment, $event)" aria-label="Report comment" title="Report comment">
                                <i class="fa-duotone fa-light fa-flag" aria-hidden="true"></i>
                            </button>
                            <button class="icon-btn danger" type="button" *ngIf="canDeleteComment(comment)" (mousedown)="onDeleteCommentMouseDown(comment.id, $event)" (click)="onDeleteCommentClick(comment.id, $event)" aria-label="Delete comment" title="Delete comment">
                                <i class="fa-duotone fa-light fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </ng-container>
                </div>
            </section>

            <div class="comment-compose" *ngIf="canInteract">
                <textarea #newCommentArea rows="2" placeholder="Write a comment..." [ngModel]="commentInput" (ngModelChange)="onCommentInput($event, newCommentArea)" (keyup)="onCommentCursor(newCommentArea)" (click)="onCommentCursor(newCommentArea)" (blur)="onTextAreaBlur()"></textarea>
                <div class="mention-suggestions" *ngIf="(mentionOpen || mentionLoading) && mentionTarget === 'comment-new'">
                    <p class="mention-hint" *ngIf="mentionLoading">Searching users...</p>
                    <button type="button" *ngFor="let profile of mentionResults" (mousedown)="$event.preventDefault()" (click)="selectMention(profile)">
                        <span class="mention-avatar fallback" *ngIf="!profile.imageUrl">{{ (profile.displayName || profile.handle).charAt(0).toUpperCase() }}</span>
                        <img class="mention-avatar" *ngIf="profile.imageUrl as avatar" [src]="avatar" loading="lazy" decoding="async" onerror="this.onerror=null;this.src='/assets/images/avatar-fallback.svg';" alt="Profile avatar" />
                        <span class="mention-meta">
                            <span class="mention-name">{{ profile.displayName }}</span>
                            <span class="mention-subline">{{ profile.bio || ('@' + profile.handle) }}</span>
                        </span>
                    </button>
                </div>
                <button type="button" (click)="submitComment()" [disabled]="!commentInput.trim()">Comment</button>
            </div>
        </app-comments-sheet>
    </ng-container>

    <div class="post-actions" *ngIf="showActions && isEditing">
        <button (click)="saveEdit.emit()" [disabled]="savingEdit">Save</button>
        <button class="ghost" (click)="cancelEdit.emit()" [disabled]="savingEdit">Cancel</button>
    </div>

    <p class="meta" *ngIf="showBottomMeta">
        <span>{{ post.createdAtUtc | date:'short' }}</span>
        <ng-container *ngIf="showCommentsCount">
            <span>·</span>
            <span>{{ post.comments.length }} comments</span>
        </ng-container>
    </p>

    <app-confirm-modal [open]="!!pendingDeleteCommentId" title="Delete comment" message="Delete this comment? This action cannot be undone." confirmText="Delete" cancelText="Cancel" confirmClass="danger" (cancel)="cancelDeleteComment()" (confirm)="confirmDeleteComment()">
    </app-confirm-modal>

    <div class="image-lightbox" *ngIf="fullscreenImageUrl as imageUrl" role="dialog" aria-modal="true" aria-label="Image preview" (click)="closeImageFullscreen()">
        <button type="button" class="image-lightbox-close" aria-label="Close image preview" (click)="$event.stopPropagation(); closeImageFullscreen()">×</button>
        <button type="button" class="image-lightbox-nav prev" *ngIf="fullscreenImageUrls.length > 1" [disabled]="!canMoveFullscreenImageBack" aria-label="Previous image" title="Previous image" (click)="showPreviousFullscreenImage($event)">
            <i class="fa-duotone fa-light fa-chevron-left" aria-hidden="true"></i>
        </button>
        <img [src]="imageUrl" alt="Fullscreen post image" loading="eager" decoding="async" (click)="$event.stopPropagation()" />
        <button type="button" class="image-lightbox-nav next" *ngIf="fullscreenImageUrls.length > 1" [disabled]="!canMoveFullscreenImageForward" aria-label="Next image" title="Next image" (click)="showNextFullscreenImage($event)">
            <i class="fa-duotone fa-light fa-chevron-right" aria-hidden="true"></i>
        </button>
    </div>
</article>