<article class="post" [class.has-icon-actions]="showActions && !isEditing">
    <div class="post-icon-actions" *ngIf="showActions && !isEditing">
        <button class="icon-btn" type="button" (click)="startEdit.emit()" aria-label="Edit post" title="Edit post">
            <i class="fa-duotone fa-light fa-pen-to-square" aria-hidden="true"></i>
        </button>
        <button class="icon-btn danger" type="button" (click)="deletePost.emit()" [disabled]="deleting" aria-label="Delete post" title="Delete post">
            <i class="fa-duotone fa-light fa-trash" aria-hidden="true"></i>
        </button>
    </div>

    <ng-content select="[post-header]"></ng-content>

    <ng-container *ngIf="isEditing">
        <textarea #postEditArea class="edit-input" rows="4" [ngModel]="editValue" (ngModelChange)="onPostEditInput($event, postEditArea)" (keyup)="onPostEditCursor(postEditArea)" (click)="onPostEditCursor(postEditArea)" (blur)="onTextAreaBlur()"></textarea>
        <div class="mention-suggestions" *ngIf="(mentionOpen || mentionLoading) && mentionTarget === 'post-edit'">
            <p class="mention-hint" *ngIf="mentionLoading">Searching users...</p>
            <button type="button" *ngFor="let profile of mentionResults" (mousedown)="$event.preventDefault()" (click)="selectMention(profile)">
                <span class="mention-avatar fallback" *ngIf="!profile.imageUrl">{{ (profile.displayName || profile.handle).charAt(0).toUpperCase() }}</span>
                <img class="mention-avatar" *ngIf="profile.imageUrl as avatar" [src]="avatar" alt="Profile avatar" />
                <span class="mention-meta">
                    <span class="mention-name">{{ profile.displayName }}</span>
                    <span class="mention-subline">{{ profile.bio || ('@' + profile.handle) }}</span>
                </span>
            </button>
        </div>
    </ng-container>

    <ng-container *ngIf="!isEditing">
        <div class="content" *ngIf="content">
            <ng-container *ngFor="let line of contentLines; let isLastLine = last">
                <ng-container *ngFor="let part of line">
                    <a *ngIf="part.hashtag; else maybeMention" class="hashtag" [href]="'/hashtags/' + part.hashtag" (click)="navigateToHashtag(part.hashtag, $event)">{{ part.text }}</a>
                    <ng-template #maybeMention>
                        <a *ngIf="part.mentionHandle; else plainText" class="mention" [href]="'/users/' + part.mentionHandle" (click)="navigateToMention(part.mentionHandle, $event)">{{ part.text }}</a>
                    </ng-template>
                    <ng-template #plainText>{{ part.text }}</ng-template>
                </ng-container>
                <br *ngIf="!isLastLine" />
            </ng-container>
        </div>

        <article class="shared-post-preview" *ngIf="sharedPost as shared" [attr.role]="'button'" tabindex="0" (click)="openSharedPost(shared, $event)" (keydown.enter)="openSharedPost(shared, $event)" (keydown.space)="openSharedPost(shared, $event)">
            <header class="shared-post-head">
                <span>Shared post from</span>
                <strong>@{{ shared.authorHandle }}</strong>
            </header>
            <div class="shared-post-content" *ngIf="shared.content">
                <ng-container *ngFor="let line of sharedPostContentLines(shared.content); let isLastLine = last">
                    <ng-container *ngFor="let part of line">
                        <a *ngIf="part.hashtag; else maybeSharedMention" class="hashtag" [href]="'/hashtags/' + part.hashtag" (click)="navigateToHashtag(part.hashtag, $event)">{{ part.text }}</a>
                        <ng-template #maybeSharedMention>
                            <a *ngIf="part.mentionHandle; else plainSharedText" class="mention" [href]="'/users/' + part.mentionHandle" (click)="navigateToMention(part.mentionHandle, $event)">{{ part.text }}</a>
                        </ng-template>
                        <ng-template #plainSharedText>{{ part.text }}</ng-template>
                    </ng-container>
                    <br *ngIf="!isLastLine" />
                </ng-container>
            </div>
            <img class="shared-post-image" *ngIf="shared.imageUrl" [src]="shared.imageUrl" alt="Shared post media" />
        </article>

        <ng-container *ngIf="post.imageUrl as mediaUrl">
            <video class="post-media" *ngIf="isVideoMedia(mediaUrl); else imageMedia" [src]="mediaUrl" controls playsinline preload="metadata"></video>
            <ng-template #imageMedia>
                <img class="post-image" [src]="mediaUrl" alt="Post media" />
            </ng-template>
        </ng-container>

        <div class="engagement">
            <app-reaction-picker [reactionOptions]="reactionOptions" [reactions]="post.reactions" [myReactionType]="post.myReactionType" [busy]="reacting" [primaryCount]="post.likeCount" [showCountWhenIdle]="true" [idleLabel]="'👍'" (primaryClick)="onPostPrimaryReaction()"
                (reactionSelected)="onPostReactionSelected($event)">
            </app-reaction-picker>

            <button class="comments-toggle" type="button" (click)="toggleComments()" [attr.aria-expanded]="commentsOpen">
                <i class="fa-duotone fa-light fa-comments" aria-hidden="true"></i>
                <span>Comments</span>
                <span>{{ post.comments.length }}</span>
            </button>

            <button class="comments-toggle" type="button" (click)="triggerShareToFeed()" [disabled]="busy" aria-label="Share to feed" title="Share to feed">
                <i class="fa-duotone fa-light fa-repeat" aria-hidden="true"></i>
                <span>Share</span>
            </button>

            <button class="comments-toggle" type="button" (click)="triggerShareToChat()" [disabled]="busy" aria-label="Send to chat" title="Send to chat">
                <i class="fa-duotone fa-light fa-paper-plane" aria-hidden="true"></i>
                <span>Send</span>
            </button>
        </div>

        <div class="comments" *ngIf="commentsOpen">
            <div class="comment" *ngFor="let comment of post.comments">
                <div class="comment-head">
                    <div class="comment-author">
                        <img class="comment-avatar" *ngIf="comment.authorImageUrl; else commentInitial" [src]="comment.authorImageUrl" alt="Comment author image" />
                        <ng-template #commentInitial>
                            <div class="comment-avatar">{{ comment.authorHandle[0] }}</div>
                        </ng-template>
                        <div class="comment-meta">{{ comment.authorHandle }} · {{ comment.createdAtUtc | date:'short' }}</div>
                    </div>

                    <div class="comment-actions" *ngIf="canEditComment(comment) || canDeleteComment(comment)">
                        <button class="icon-btn" type="button" *ngIf="canEditComment(comment)" (click)="startEditComment(comment)" [disabled]="busy" aria-label="Edit comment" title="Edit comment">
                            <i class="fa-duotone fa-light fa-pen-to-square" aria-hidden="true"></i>
                        </button>
                        <button class="icon-btn danger" type="button" *ngIf="canDeleteComment(comment)" (click)="removeComment(comment.id)" [disabled]="busy" aria-label="Delete comment" title="Delete comment">
                            <i class="fa-duotone fa-light fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <ng-container *ngIf="editingCommentId === comment.id">
                    <textarea #commentEditArea class="comment-edit-input" [attr.data-comment-edit-id]="comment.id" rows="2" [ngModel]="editCommentContent" (ngModelChange)="onCommentEditInput(comment.id, $event, commentEditArea)" (keyup)="onCommentEditCursor(comment.id, commentEditArea)"
                        (click)="onCommentEditCursor(comment.id, commentEditArea)" (blur)="onTextAreaBlur()"></textarea>
                    <div class="mention-suggestions" *ngIf="(mentionOpen || mentionLoading) && mentionTarget === 'comment-edit' && mentionTargetCommentId === comment.id">
                        <p class="mention-hint" *ngIf="mentionLoading">Searching users...</p>
                        <button type="button" *ngFor="let profile of mentionResults" (mousedown)="$event.preventDefault()" (click)="selectMention(profile)">
                            <span class="mention-avatar fallback" *ngIf="!profile.imageUrl">{{ (profile.displayName || profile.handle).charAt(0).toUpperCase() }}</span>
                            <img class="mention-avatar" *ngIf="profile.imageUrl as avatar" [src]="avatar" alt="Profile avatar" />
                            <span class="mention-meta">
                                <span class="mention-name">{{ profile.displayName }}</span>
                                <span class="mention-subline">{{ profile.bio || ('@' + profile.handle) }}</span>
                            </span>
                        </button>
                    </div>
                </ng-container>
                <div class="comment-content" *ngIf="editingCommentId !== comment.id">
                    <ng-container *ngFor="let line of commentContentLines(comment.content); let isLastLine = last">
                        <ng-container *ngFor="let part of line">
                            <a *ngIf="part.hashtag; else maybeCommentMention" class="hashtag" [href]="'/hashtags/' + part.hashtag" (click)="navigateToHashtag(part.hashtag, $event)">{{ part.text }}</a>
                            <ng-template #maybeCommentMention>
                                <a *ngIf="part.mentionHandle; else plainCommentText" class="mention" [href]="'/users/' + part.mentionHandle" (click)="navigateToMention(part.mentionHandle, $event)">{{ part.text }}</a>
                            </ng-template>
                            <ng-template #plainCommentText>{{ part.text }}</ng-template>
                        </ng-container>
                        <br *ngIf="!isLastLine" />
                    </ng-container>
                </div>

                <div class="comment-edit-actions" *ngIf="editingCommentId === comment.id">
                    <button type="button" (click)="saveCommentEdit(comment.id)" [disabled]="busy">Save</button>
                    <button type="button" class="ghost" (click)="cancelEditComment()" [disabled]="busy">Cancel</button>
                </div>

                <div class="comment-engagement" *ngIf="editingCommentId !== comment.id">
                    <app-reaction-picker [reactionOptions]="reactionOptions" [reactions]="comment.reactions" [myReactionType]="comment.myReactionType" [busy]="busy" [showCountWhenIdle]="false" [idleLabel]="'🙂 React'" (primaryClick)="onCommentPrimaryReaction(comment)"
                        (reactionSelected)="onCommentReactionSelected(comment, $event)">
                    </app-reaction-picker>
                </div>
            </div>

            <div class="comment-compose">
                <textarea #newCommentArea rows="2" placeholder="Write a comment..." [ngModel]="commentInput" (ngModelChange)="onCommentInput($event, newCommentArea)" (keyup)="onCommentCursor(newCommentArea)" (click)="onCommentCursor(newCommentArea)" (blur)="onTextAreaBlur()"
                    [disabled]="busy"></textarea>
                <div class="mention-suggestions" *ngIf="(mentionOpen || mentionLoading) && mentionTarget === 'comment-new'">
                    <p class="mention-hint" *ngIf="mentionLoading">Searching users...</p>
                    <button type="button" *ngFor="let profile of mentionResults" (mousedown)="$event.preventDefault()" (click)="selectMention(profile)">
                        <span class="mention-avatar fallback" *ngIf="!profile.imageUrl">{{ (profile.displayName || profile.handle).charAt(0).toUpperCase() }}</span>
                        <img class="mention-avatar" *ngIf="profile.imageUrl as avatar" [src]="avatar" alt="Profile avatar" />
                        <span class="mention-meta">
                            <span class="mention-name">{{ profile.displayName }}</span>
                            <span class="mention-subline">{{ profile.bio || ('@' + profile.handle) }}</span>
                        </span>
                    </button>
                </div>
                <button type="button" (click)="submitComment()" [disabled]="busy || !commentInput.trim()">Comment</button>
            </div>
        </div>
    </ng-container>

    <div class="post-actions" *ngIf="showActions && isEditing">
        <button (click)="saveEdit.emit()" [disabled]="savingEdit">Save</button>
        <button class="ghost" (click)="cancelEdit.emit()" [disabled]="savingEdit">Cancel</button>
    </div>

    <p class="meta" *ngIf="showBottomMeta">
        <span>{{ post.createdAtUtc | date:'short' }}</span>
        <ng-container *ngIf="showCommentsCount">
            <span>·</span>
            <span>{{ post.comments.length }} comments</span>
        </ng-container>
    </p>

    <ng-content select="[post-footer]"></ng-content>
</article>