<div class="reaction-row">
    <div class="reaction-zone" #zone (mouseenter)="onHoverStart()" (mouseleave)="onHoverEnd()" (touchstart)="onTouchStart($event)">
        <button class="reaction-btn" type="button" (click)="onPrimaryButtonClick($event)" [disabled]="busy" [class.active]="!!myReactionType" [class.icon-only]="triggerStyle === 'icon'" [class.bubble-icon]="triggerStyle === 'bubble-icon'"
            [attr.aria-label]="triggerStyle !== 'default' ? 'Add reaction' : null">
            <ng-container *ngIf="triggerStyle !== 'default'; else textTrigger">
                <i class="fa-duotone fa-light fa-heart" aria-hidden="true"></i>
            </ng-container>
            <ng-template #textTrigger>
                {{ buttonLabel }}
            </ng-template>
        </button>

        <div class="reaction-popover" [class.align-end]="resolvedPopoverAlign === 'end'" [class.place-below]="resolvedPopoverVertical === 'bottom'" [class.ready]="popoverReady" [class.closing]="popoverClosing" [style.left.px]="popoverLeft" [style.top.px]="popoverTop" *ngIf="open" #popover
            (mouseenter)="onPopoverHoverStart()" (mouseleave)="onPopoverHoverEnd()">
            <button type="button" class="reaction-pop-btn" *ngFor="let reaction of reactionOptions" (click)="pickReaction(reaction.type)" [disabled]="busy" [class.active]="myReactionType === reaction.type" [class.touch-hover]="highlightedReactionType === reaction.type"
                [attr.data-reaction-type]="reaction.type" [attr.aria-label]="reaction.type">
                {{ reaction.emoji }}
            </button>
        </div>
    </div>

    <div class="reaction-summary" *ngIf="reactions.length">
        <span class="reaction-chip" *ngFor="let reaction of reactions">{{ emojiFor(reaction.type) }} {{ reaction.count }}</span>
    </div>
</div>