<article class="shared-post-preview" role="button" tabindex="0" (click)="onCardClick($event)" (keydown)="onCardKeydown($event)">
    <header class="shared-post-head">
        <img class="shared-post-author-avatar" *ngIf="shared.authorImageUrl" [src]="shared.authorImageUrl" onerror="this.onerror=null;this.src='/assets/images/avatar-fallback.svg';" alt="Shared post author avatar" />
        <span class="shared-post-author-fallback" *ngIf="!shared.authorImageUrl">{{ shared.authorHandle[0].toUpperCase() }}</span>
        <div class="shared-post-author-meta">
            <span>Shared post from</span>
            <strong>@{{ shared.authorHandle }}</strong>
        </div>
    </header>

    <img class="shared-post-image" *ngIf="shared.imageUrl" [src]="shared.imageUrl" alt="Shared post media" />

    <div class="shared-post-content" *ngIf="shared.content">
        <ng-container *ngFor="let line of richTextLines(sharedPreviewContent(shared.content)); let isLastLine = last">
            <ng-container *ngFor="let part of line">
                <a *ngIf="part.hashtag; else maybeSharedMention" class="hashtag" [href]="'/hashtags/' + part.hashtag" (click)="openHashtag(part.hashtag, $event)">{{ part.text }}</a>
                <ng-template #maybeSharedMention>
                    <a *ngIf="part.mentionHandle; else plainSharedText" class="mention" [href]="'/users/' + part.mentionHandle" (click)="openUserProfile(part.mentionHandle, $event)">{{ part.text }}</a>
                </ng-template>
                <ng-template #plainSharedText>{{ part.text }}</ng-template>
            </ng-container>
            <br *ngIf="!isLastLine" />
        </ng-container>
    </div>
</article>